.Button {
    height: 40px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(0,0,0,0);
    border: 2px solid #9FFFD1;
    border-radius: 12px;
    color: #9FFFD1;
    font-size: 16px;
    transition: 0.3s;
}

.Button:hover {
    background-color: #9FFFD1;
    color: #222222;
}

.red {
    border: 2px solid #FF6A6A;
    color: #FF6A6A;
}

.red:hover {
    background-color: #FF6A6A;
    color: #222222;
}

.yellow {
    border: 2px solid #FFD99F;
    color: #FFD99F;
}

.yellow:hover {
    background-color: #FFD99F;
    color: #222222;
}