.Hotkey {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #222222;
    border-radius: 12px;
    border: 2px solid #222222;
    align-items: center;
    gap: 20px;
    min-height: 24px;
    transition: 0.3s;
}

.Hotkey:hover {
    border: 2px solid white;
}

.action {
    flex: 3;
    color: white;
}

.combination_1 {
    flex: 1;
    color: #9FFFD1;
    text-align: center;
}

.combination_2 {
    flex: 1;
    color: #E09FFF;
    text-align: center;
}

.line {
    border-left: 1px solid #505050;
    align-self: stretch;
}

.icon_delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0,0,0,0);
    border-radius: 50%;
    transition: 0.3s;
}

.icon_delete:hover {
    border: 2px solid #FF6A6A;
}

.icon_update {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(0,0,0,0);
    border-radius: 50%;
    transition: 0.3s;
}

.icon_update:hover {
    border: 2px solid #9FFFD1;
}