.Application {
    display: flex;
    align-items: center;
    gap: 20px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #9FFFD1;
}

.on {
    background-color: #9FFFD1;
}

.off {
    background-color: #565656;
}

.img{
    height: 60px;
    width: 60px;
    font-size: 10px;
    transition: 0.3s;
}

.img:hover {
    height: 70px;
    width: 70px;
}

.app-title {
    text-align: right;
    font-size: 10px;
    color: #9FFFD1;
}