.App {
    width: 100vw;
    font-family: "SF Pro Display", sans-serif;

    display: flex;
    justify-content: start;
}

.main {
    /*container*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    margin: 40px;

    /*item*/
    flex: 4;
}

.space-left {
    width: 240px;
}

.space-right {
    flex: 1;
}